<?xml version="1.0"?>
<config>
    <modules>
        <Precursor_Categoryreview>
            <version>0.1.0</version>
        </Precursor_Categoryreview>
    </modules>
    <frontend>
        <routers>
            <categoryreview>
                <use>standard</use>
                <args>
                    <module>Precursor_Categoryreview</module>
                    <frontName>categoryreview</frontName>
                </args>
            </categoryreview>
        </routers>
        <layout>
            <updates>
                <categoryreview>
                    <file>categoryreview.xml</file>
                </categoryreview>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<categoryreview>
				<use>admin</use>
				<args>
					<module>Precursor_Categoryreview</module>
					<frontName>categoryreview</frontName>
				</args>
			</categoryreview>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<categoryreview module="categoryreview">
				<title>Category Review</title>
				<sort_order>71</sort_order>               
				<children>
					<managereview module="categoryreview">
						<title>Manage All Reviews</title>
						<sort_order>10</sort_order>
						<action>categoryreview/adminhtml_categoryreview</action>
					</managereview>
                    <settings module="categoryreview">
                        <title>Reviews Settings</title>
                        <sort_order>20</sort_order>
                        <action>adminhtml/system_config/edit/section/precursorconfig</action>
                    </settings>
				</children>
			</categoryreview>
		</menu>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <precursorconfig>
                                            <title>Category Reviews and Ratings</title> 
                                        </precursorconfig>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		<layout>
			<updates>
				<categoryreview>
					<file>categoryreview.xml</file>
				</categoryreview>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <categoryreview>
                <class>Precursor_Categoryreview_Model</class>
                <resourceModel>categoryreview_mysql4</resourceModel>
            </categoryreview>
            <categoryreview_mysql4>
                <class>Precursor_Categoryreview_Model_Mysql4</class>
                <entities>
                    <categoryreview>
                        <table>categoryreview</table>
                    </categoryreview>
                </entities>
            </categoryreview_mysql4>
        </models>
        <resources>
            <categoryreview_setup>
                <setup>
                    <module>Precursor_Categoryreview</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </categoryreview_setup>
            <categoryreview_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </categoryreview_write>
            <categoryreview_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </categoryreview_read>
        </resources>
        <blocks>
            <categoryreview>
                <class>Precursor_Categoryreview_Block</class>
            </categoryreview>
        </blocks>
        <helpers>
            <categoryreview>
                <class>Precursor_Categoryreview_Helper</class>
            </categoryreview>
        </helpers>
    </global>
    <default>
        <precursorconfig>
            <general>
                <enabled>0</enabled>
                <averagerating>1</averagerating>
                <addreviewtitle>Write Your Own Review</addreviewtitle>
                <displayreviewtitle>Category Review</displayreviewtitle>
            </general>
        </precursorconfig>
    </default>
</config>